<h1>Ponto Redealumni</h1>

<% if user_signed_in? and current_user.bad_memory? %>
    <div class="flash error">
      Cabeça de vento, ultimamente você esqueceu de bater ponto <%= number_to_percentage current_user.bad_memory_index, :precision => 0 %> das vezes...
      <br/><strong>O senhor é um fanfarrão, Pede pra sair!!!</strong>
    </div>
    <br/>
<% end %>
<%= render 'form' %>

<%= render :partial => 'punches', :object => @punches %>

<% if user_signed_in? %>
    <div id="stats">
      <%= render :partial => 'user_stats', :object => current_user %>
    </div>
<% end %>

<div id="link_bar">
  <% if user_signed_in? %>
      <span class="link_item"><%= link_to "Trocar Senha", edit_user_path(current_user) %></span>
      <span class="link_item">
        <%= link_to "Fazer Logout", session_path, :method => "delete", :confirm => "Tem certeza?" %>
      </span>
  <% else %>
      <span class="link_item">
        <%= link_to "Fazer Login", new_session_path %>
      </span>
  <% end %>
  <span class="link_item">
      <%= link_to "Estatísticas", stats_path %>
    </span>
  <% if user_signed_in? and current_user.admin? %>
    <span class="link_item">
      <%= link_to "Admin", users_path %>
    </span>
  <% end %>
</div>
