<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :token %><br />
      <%= f.text_field :token %>
    </div>
    <div class="row">
      <div class="field columns small-3 large-6">
        <%= f.label :admin %><br />
        <%= f.check_box :admin %>
      </div>
      <div class="field columns small-3 large-6">
        <%= f.label :hidden %><br />
        <%= f.check_box :hidden %>
      </div>
    </div>
    <span id="__goals"><%= f.hidden_field :goals %></span>
    <%= render 'goals' %>
    <br>

    <span id="__shifts"><%= f.hidden_field :shifts %></span>
    <%= render 'shifts' %>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

  <div id="trueGoals" hidden><%= @user.goals.to_json %></div>
  <div id="trueShifts" hidden><%= @user.shifts.to_json %></div>
<% end %>
