<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </div>
    <div class="field">
      <%= f.label :token %><br />
      <%= f.text_field :token %>
    </div>
    <div class="field">
      <%= f.label :hidden %><br />
      <%= f.check_box :hidden %>
    </div>
    <div class="field">
      <%= f.label :daily_goal %><br />
      <%= f.text_field :daily_goal %>
    </div>
    <span id="__shifts"><%= f.hidden_field :shifts %></span>

    <div class="shifts-section">
      <div id="shift-list">
        <% @user.shift.each_with_index do |s, idx| %>
          <% i = idx + 1 %>
          <div class="shift" data-shift-num="<%= i %>">
            <div class="shift-intro">
              <strong>Turno <%= i %>:</strong>
            </div>
            <%= label_tag "#{i}-1", "Entrada: ", data: { "shift-entrance" => true } %>
            <%= text_field_tag "#{i}-1", nil, data: { "shift-entrance" => true } %>
            <%= label_tag "#{i}-2", "Saída: ", data: { "shift-exit" => true } %>
            <%= text_field_tag "#{i}-2",nil, data: { "shift-exit" => true } %>
          </div>
        <% end %>
      </div>
      <%= hidden_field_tag "num-of-shifts", @user.num_of_shifts %>
      <%= link_to "Remover ultimo turno", '#', id: "remove-shift", class: "button" %>
      <%= link_to "Novo turno", '#', id: "add-shift", class: "button" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
