<h1>Admin Ponto Redealumni</h1>

<%= link_to 'Voltar para o início', root_path %><br/><br/>

<% hide_name = nil %>
<% @user_list.each_with_index do |users, idx| %>

  <% if users.blank? then next end %>

  <% if idx == 1 then %>
    <% hide_name = "Re-exibir" %>
    <% unless @user_list[0].blank? %>
      <hr/>
    <% end %>
    <h5>Escondidos:</h5>
  <% else %>
    <% hide_name = "Esconder" %>
  <% end %>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.admin? %></td>
        <td><%= link_to 'Exibir', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to hide_name, hide_user_path(user), method: :put %></td>
        <td><%= link_to 'Deletar', user, data: { confirm: 'Tem certeza?' }, method: :delete %></td>
        <td><%= link_to image_tag('icon_print.png', alt: 'Gerar relatório'), report_user_path(user) %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<hr>
<%= link_to "Relatórios gerais", reports_path %>
<br>
<%= link_to 'Novo usuário', new_user_path %>
