<h1>Admin Ponto Redealumni</h1>

<%= link_to 'Voltar Início', root_path %><br/><br/>

<% @user_list.each_with_index do |users, idx| %>

  <% if idx == 1 then %>
    <% if users.blank? then break end %>
    <hr/>
    <h4>Escondidos:</h4>
  <% end %>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.admin? %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<br />

<%= link_to 'New User', new_user_path %>
