<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin? %>
</p>

<%= link_to image_tag('icon_print.png', alt: 'Gerar relatório'), report_user_path(@user) %>

<div id="stats">
  <%= render partial: 'user_stats', object: @user %>
</div>

<%= render partial: 'punches', object: @punches %>

<br/>
<%= will_paginate @punches %>
<br/>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
