<table id="<%= dom_id(punch) %>" class="punch_item <%= punch.entrance? ? "entrance" : "exit" %>">
  <tr>
    <td class="status"><%= punch.entrance? ? "→<br/>In".html_safe : "←<br/>Out".html_safe %></td>
    <td class="time">
      <div class='punch_time_display' meta-dom-id="<%=dom_id(punch)%>">
        <%= punch.punched_at.to_s(:short)%>
        <br/>
        <% if user_signed_in? %>
          <a href="#" class="punch_show_form_link">mudar</a>
        <% end %>
      </div>
      <div class='punch_time_form' meta-dom-id="<%=dom_id(punch)%>">
        <%= f.datetime_select('punched_at', use_month_numbers: true, minute_step: 1, datetime_separator: '') %>
        <%= select_tag "entrance", "<option>entrando</option><option>saindo</option>".html_safe, include_blank: true %>
        <br/>
        <a href="#" class="punch_show_display_link">cancelar</a>
      </div>
    </td>

    <td class="text"><%= punch.comment %></td>  
    <td class="kind">
      <% if not punch.altered? %>
        <%= image_tag "icon_clock_green.png", title: "Ponto com Horário Original" %>
      <% else %>
        <%= image_tag "icon_clock_red.png", title: "Ponto com Horário Alterado" %>
      <% end %>
    </td>
    <% if user_signed_in? %>
      <td class="actions">
        <%= f.submit "Alterar" %>
        <% if current_user.admin? %>
          <%= link_to 'remover', punch, data: { confirm: 'Tem certeza?' }, method: :delete, remote: true %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>