<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_worked(1.week.ago..Time.now) %></span>
  <span class="name">horas Última Semana</span>
</div>
<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_worked(1.month.ago..Time.now) %></span>
  <span class="name">horas Último Mês</span>
</div>
<div class="stats_line <%= user_stats.working? ? "green" : "red"%>">
  <span class="value"><%= number_to_human  user_stats.hours_since_last_state %></span>
  <span class="name">horas <%= user_stats.working? ? "ralando!" : "sem trabalhar..."%></span>
</div>