<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_today %></span>
  <span class="name">horas hoje</span>
</div>
<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_worked(1.week.ago..Time.now) %></span>
  <span class="name">horas nos últimos 7 dias</span>
</div>
<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_worked(1.month.ago..Time.now) %></span>
  <span class="name">horas nos últimos 30 dias</span>
</div>
<div class="stats_line">
  <span class="value"><%= number_to_human user_stats.hours_worked_in_month(1.month.ago) %></span>
  <span class="name">horas em <%= l(1.month.ago, format: :month_year) %></span>
</div>
<div class="stats_line <%= user_stats.working? ? "green" : "red"%>">
  <span class="value"><%= number_to_human  user_stats.hours_since_last_state %></span>
  <span class="name">horas <%= user_stats.working? ? "ralando!" : "sem trabalhar..."%></span>
</div>