<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_javascript_include_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <title>Relatório do Ponto RA</title>
  </head>
  <body>
    <div id="content">
      
      <%= yield %>

    </div>
  </body>
</html>

